# Coturn
# External IP of the server (Required for TURN)
EXTERNAL_IP=127.0.0.1

# Security & Auth (Required for XMPP/WebRTC)
# Generate a secret with `openssl rand -hex 32`
TURN_SECRET=replace_with_secure_hex_secret
TURN_REALM=atl.network
