#!/bin/sh
# {{ ansible_managed }}
# All Things Linux - User Log Rotation Service
# This script iterates through all users in the pubnix group and runs logrotate
# on their local configuration if it exists.

# Ensure we're running as root
if [ "$(id -u)" -ne 0 ]; then
    echo "This script must be run as root" >&2
    exit 1
fi

# Get all users in the pubnix group
USERS=$(getent group {{ pubnix_group }} | cut -d: -f4 | tr ',' ' ')

for user in $USERS; do
    HOMEDIR=$(getent passwd "$user" | cut -d: -f6)
    CONF="$HOMEDIR/.logrotate.conf"
    STATE="$HOMEDIR/.logrotate.state"

    if [ -f "$CONF" ]; then
        # Run logrotate as the user to ensure correct ownership of new files
        # and to honor their quota limits.
        su -s /bin/sh -c "logrotate --state \"$STATE\" \"$CONF\"" "$user"
    fi
done
