# {{ ansible_managed }}
# Site-wide nethack configuration for {{ pubnix_domain }}
# Users can override any of these in ~/.nethackrc

OPTIONS=color
OPTIONS=time
OPTIONS=showexp
OPTIONS=lit_corridor
OPTIONS=fixinv
OPTIONS=pickup_burden:unencumbered
